body{background:#FFF;color:#666;font:12px/150% Arial,Verdana,"宋体";}
h1,h2,h3,h4,h5,h6{padding:0;margin:0;font-family:"Microsoft YaHei";}
p{padding:0;margin:0;}
a{color:#666;text-decoration:none;cursor:pointer;}
a img{border:0;}
img{vertical-align:middle;}
a:link,a:visited{color:#666;text-decoration:none;}
a:hover{color:#e53f42;text-decoration:underline;}
a:active{color:#999;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
object, .AdvBanner img{display:block;}
.qfnavs li{float:left;}
.qfnavs li a{margin:0 5px;}
.cut{overflow:hidden}
.ld{position:relative;zoom:1;}
.flt{float:left;}
.frt{float:right;}
.AllWrap{width:1210px;margin-left:auto;margin-right:auto;}
.side_area{width:210px;}
.main_area{width:976px;overflow:hidden;}
.fontcolorOrange{color:#e53f42;}

/*网站头部*/
#header{}
#shortcut{width:100%;height:30px;background:#f7f7f7;border-bottom:1px solid #eee;}
#shortcut .AllWrap{background:#f7f7f7;height:20px;padding:5px 70px 5px 0;line-height:20px;width:1140px;position:relative}
#shortcut .favico{background:url("i/icon.gif") no-repeat 0 4px;padding-left:15px;_background-position:0 3px}
#shortcut .login{padding:0 3px; position:relative;margin-right:8px;}
#shortcut .login cite{color:#e53f42; font-weight:bold;margin:0 5px;}
#accountlogin{position:absolute;top:0;left:90px;z-index:9999;}
#shortcut .qfnavs li a{ margin:0 10px;}

/*下拉菜单*/
.headerMenu {position:absolute;top:4px;right:0; z-index:99;}
.headerMenu li {float:left;}
.headerMenu li a{display:block;position:relative;padding:1px 10px 0px;text-align:center;color:#666;}
.headerMenu li a b{position:absolute;right:3px;top:10px;width:0;height:0;line-height:0;font-size:0;border-width:4px;border-style:solid;border-color:#666 #f7f7f7 #f7f7f7;-moz-transform-origin:50% 30%;-webkit-transition:-webkit-transform .2s ease-in;-moz-transition:-moz-transform .2s ease-in;-o-transition:-o-transform .2s ease-in;transition:transform .2s ease-in;}
.headerMenu li .myweb a.hover b{border-color:#666 #fff #fff;-moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 30%;transform:rotate(180deg);transform-origin:50% 30%;-webkit-transition:-webkit-transform .2s ease-in;-moz-transition:-moz-transform .2s ease-in;-o-transition:-o-transform .2s ease-in;transition:transform .2s ease-in;}
.headerMenu li .myweb{position:relative;z-index:1;}
.headerMenu li .myweb a.menuHd{float:left;padding:0 15px 0 10px;border:1px solid #f7f7f7;border-bottom:0;z-index:10002;}
.headerMenu li .myweb a.hover{border:1px solid #e6e6e6;border-bottom:0;background:#fff;}
.headerMenu li a:hover{color:#ff0000;text-decoration:underline;}
.headerMenu .myweb .quick_pop {display:none;position:absolute;top:20px;right:0px;padding:5px 0 8px 5px;z-index:10001;border:1px solid #e6e6e6;background:#fff;_right:74px;}
.headerMenu .quick_pop a {text-align:left;}
.headerMenu li .myweb a.hover{color:#333;text-decoration:none;}
.headerMenu .myweb .quick_pop {width:200px;padding-bottom:10px;box-shadow:0 0 10px #DDD;-webkit-box-shadow:0 0 10px #DDD;-moz-box-shadow:0 0 10px #DDD;}
.headerMenu .myweb .quick_pop dl{float:left;width:192px;padding:2px 3px 5px 0;border-bottom:1px solid #ddd;}
.headerMenu .myweb .quick_pop dd{width:200px;padding-left:8px;}
.headerMenu .myweb .quick_pop dd a{float:left;width:66px;height:20px;line-height:20px;padding:0;overflow:hidden;}
.headerMenu .myweb .quick_pop span {float:left;margin-top:5px;padding-left:8px;color:#666;}
.headerMenu .myweb .quick_pop span em{color:#ff0000;font-weight:700;}

.topad{padding:2px 0 5px;}

#header_logo{height:70px;padding:10px 0;}
#header_logo .logo{width:300px;float:left;}
#header_logo .logo h1 a{display:block;width:270px;height:70px;overflow:hidden;text-indent:-9999em;}

#header_logo .search{margin:8px 35px 0px 75px;width:500px;}
#header_logo .SearchBar{height:30px;padding:0;border:3px solid #C7C7C5;overflow:hidden;width:500px;}
.SearchBar table td{padding:0}
.SearchBar .keywords{background-color:#FFF;color:#666;font-family:arial,"宋体";font-size:14px;height:20px;line-height:20px;padding:5px;width:413px; border:none;}
.SearchBar .btn_search{background-color:#C7C7C5;font-size:14px;font-weight:bold;width:78px;color:#585958;height:30px;_height:31px;line-height:30px;z-index:1;float:left;border:none;cursor:pointer;padding-bottom:3px;}
.SearchBar span ,.SearchBar .btn_advsearch{display:none;}
#header_logo .hotwords{margin-left:-2px; margin-top:3px;}
#header_logo .hotwords strong{font-weight:normal; color:#999;}
#header_logo .hotwords a:link, #header_logo .hotwords a:visited{color:#999;margin-right:10px;}
#header_logo .hotwords a:hover, #header_logo .hotwords a:active{color:#cc0000;}
#cartbox{height:30px;line-height:30px;margin-top:12px;position:relative;width:126px;z-index:11;}

/*导航栏*/
#nav{background:url("i/menubg.gif") repeat-x left top #c7c7c5;height:40px;position:relative;z-index:10;}
#categorys{float:left;width:210px;height:40px;}
#navRight{float:left;width:1000px;height:40px;}
.navList{float:left;width:740px;height:40px;position:relative}
.MenuList{height:40px;background:url("i/menubg.gif") repeat-x left top #c7c7c5}
.MenuList li{float:left;z-index:2;position:relative;height:40px;}
.MenuList li a{display:block;height:40px;font:bold 15px/40px "Microsoft YaHei",arial,"宋体";color:#666;vertical-align:top;text-decoration:none;padding:0 20px;*float:left;}
.MenuList li a:link,.MenuList li a:visited{}
.MenuList li a:active{color:#585958;}
.MenuList li a:hover,.MenuList li.current{background:#DC291A;color:#fff;font-weight:700}
.MenuList li a:hover a,.MenuList li.current a{color:#fff;}
.MenuList .v-m-page a:hocer{background:none;color:#DC291A;}
.MenuList .v-m-page a:hocer a{color:#DC291A;}
.MenuList li.navHook{display:none;position:absolute;left:0;top:0;height:40px;background:#DC291A;z-index:1;font-weight:700;color:#fff;}
.treasure {position:relative;width:250px;height:40px;margin-right:10px;}

#main{background:#fff;margin-top:8px;}

#service{padding:10px 20px;margin-bottom:10px;background-color:#fff;border-bottom:1px solid #f1f1f1; border-top:1px solid #ddd;}
.help_l{float:left;}
.help_l .flt{width:188px;overflow:hidden;}
.help_l .flt h3{font:bold 14px "宋体"; padding:6px 0 6px 44px; position:relative; width:144px;color:#666;}
.help_l .flt h3 b{height:40px; width:40px; position:absolute; top:0px; left:0px;background:url("i/e.png") no-repeat;}
.help_l .help1 h3 b{background-position:0px -55px;}
.help_l .help2 h3 b{background-position:-50px -55px;}
.help_l .help3 h3 b{background-position:0px -102px;}
.help_l .help4 h3 b{background-position:-50px -102px;}
.help_l .help5 h3 b{background-position:0px -149px;}
.help_l .body{line-height:24px; margin-left:20px; min-height:120px; padding-left:24px; background:url("i/b.png") no-repeat 0 0px;}
.help_l .TreeList div{padding:0px;margin:0;line-height:24px;}
.help_l .TreeList a{color:#333;}
.help_l .TreeList a:hover{color:#e53f42; text-decoration:underline}

.help_r{float:right;width:200px;background:url("i/c.png") no-repeat center bottom;height:155px;margin-bottom:0;}
.help_r h3,.help_r p{color:#666;line-height:24px;}

.copyright{color:#333;height:auto;margin-top:10px;text-align:center;}
.sys-copyright{height:100%;overflow:hidden;}
.copyright p{line-height:22px;}
.sys-copyright{margin-bottom:0; padding-bottom:15px;}
.themefoot{}
.themefoot p{margin-bottom:10px;color:#424242;}
.themefoot p a{margin:0 10px;}


/*色彩配系*/
.rose,.rose a{color:#e53f42}

.border1{border:1px solid #f1f1f1;}
.border2{}
.border2 h2{}

/*常用边框1*/
.border8{}
.border8 h3{padding:0 0px 0 0px;background:#fff;height:30px;font: bold 14px/30px "Microsoft YaHei";color:#666;border-bottom:2px solid #aaa;}
.border8 .body{border:1px solid #e6e6e6;border-top:none;}

/*常用边框2*/
.border9{border:1px solid #e6e6e6}
.border9 h3{padding:0 0px 0 13px;background:#f7f8f8;border:none;height:33px;font:bold 14px/33px "宋体";color:#333;}

/*常用边框3*/
.border10{border:1px solid #e6e6e6;}
.border10 h3{padding:0 0px 0 13px;background:#f7f8f8;height:30px;line-height:30px; font: bold 14px/30px "宋体";color:#333;border-top:2px solid #e53f42;}
