<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
</head>
<body>
<form action="./index.php?ctl=tuan/tuangou_team&act=donewPic" enctype="multipart/form-data" name="form" method="post">
<input name="tuan_big_pic" type="file" id="tuan_big_pic" size="40">
<input type="submit" name="Submit" value="点击上传" class=inputbut />
</form>
</body>
</html>